*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: #fff;
}
section{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
}
.side-nav{
    width: 25%;
    position-visibility: fixed;
    background-color: #979749;
    text-align: center;
    align-content: center;
}
.side-nav ul{
    text-align: center;
}
.side-nav ul li{
    padding: 13px;

}
.side-nav ul a{
    font-size: 25px;
    color: #f2f2f2;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
}
.side-nav img{
    width: 70%;
    height: 250px;
    border-radius: 30%;

}
.side-nav button{
    height: 35px;
    width: 150px;
    font-size: 16px;
    color: red;
    font-weight: 600;
    border-radius: 9px;
    border: 2px solid #333;
    cursor: pointer;

}
.content{
    margin: 10px;
    background: #fff;
    width: 75%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.first{
    margin-top: 10px;
    padding-bottom: 10px;
}
.first h1{
    font-size: 55px;
    font-family: 'Times New Roman';
}
.first h3{
    font-weight:lighter;
    font-style: normal;
    font-size: 19px;

}
.second{
    padding: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.content span{
    color: red;
    margin-left: 10px;
    text-shadow: 2px 2px 2px skyblue;
}
.links i{
    font-size: 35px;
    color:rgb(12, 184, 236);
}
.links {
    text-align: center;

}
.links a{
    padding: 5px;
}
#Experince{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.de-one p{
    text-align: inherit;
}
.date h4{
    font-size: 18px;
}
.date{
    float: right;
    margin-right: 30px;
    color: lightcoral;
    font-weight: lighter;
}
.qualification{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
#Skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#Skills .s-logo{
    background: #9695;
    width: auto;
}
#Skills .s-logo img{
    width: 70px;
    height: 70px;
    padding: 20px;

}